* {
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
}

:root {
    --std-gap: 10px;
    --std-padding: 10px;
    --std-margin: 10px;
}

body {
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
}

.header {
    display: grid;
    place-items: center;
}

.header-text {
    font-size: 3rem;
}


/* main page gets these stylings */
.main {
    display: grid;
    place-content: center;
    gap: 20px;
         * {
             display: grid;
             place-content: center;
         }

         .today-tasks-container {
             display: grid;
             gap: var(--std-gap);
         }

         .today-tasks-header {
             display: grid;
             text-align: center;
             font-size: 1.5rem;
         }

         ul.today-tasks {
             display: grid;
             gap: var(--std-gap);
         }

         ul.today-tasks > * {
             display: grid;
             grid-auto-flow: column;
             place-content: center;
             gap: 20px;
             padding: 2px 0;
         }

         .add-task-btn {
             display: grid;
             place-content: center;
         }

         .highest-priority-projects-container {
             display: grid;
             justify-content: stretch;
             gap: var(--std-gap);
             padding: 2px 0;
         }

         .highest-priority-projects-container-header {
             text-align: center;
             font-size: 1.5rem;
         }

         .high-priority-project-container {
             display: grid;
             grid-template-columns: 2fr 1fr 30px;
             grid-auto-flow: column;
         }

         .project-dropdown-btn {
             display: grid;
             align-items: start;
             justify-content: center;
         }

         .project-dropdown-btn > *{
             position: relative;
             bottom: 5px;
         }

         .highest-priority-projects {
             display: grid;
             gap: var(--std-gap);
         }

         ul {
             list-style-type: none;
         }

         .see-all-projects-btn button {
             display: grid;
             height: 50px;
             justify-items: center;
         }

     }

 .projects-page {

 }

.add-task-dialog {
    margin: auto;
    /*width: 10%;*/
    /*height: 10%;*/
    background-color: magenta;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px; 
}

.add-task-dialog form {
    display: grid;
    gap: 5px;
}

.add-task-dialog form > * {
    display: grid;
    gap: 2px;
    padding: 2px;
}

.add-task-dialog .to-bold {
    font-weight: bold;
}

.add-task-dialog textarea {
    height: 20vh;
    width: 30vh;
    padding: var(--std-padding);
    resize: none;
}

.add-task-dialog .dialog-buttons,
.add-task-dialog .priority{
    grid-auto-flow: column;
}

::backdrop {
    backdrop-filter: blur(2px);
}
